body {
  font-size: 20px;
  background-image: url("../img/fondo2.jpeg");
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculadora-grilla {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.calculadora-grilla > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1.5px solid #9f9cae;
  outline: none;
  background-color: #cfced3;
}
.salida {
  grid-column: 1/-1;
  background-color: #6644ed;
  border: 1px solid rgba(128, 119, 161, 0.767);
  display: flex;
  align-items: center;
  justify-content: center;
}

.salida .display {
  color: #201f24;
  font-size: 1.85rem;
  text-align: right;
}
.calculadora-grilla > button:hover {
  background-color: #908f96;
  -webkit-box-shadow: 1px 16px 27px 3px #1b1a1d;
  box-shadow: 1px 16px 27px 3px #1b1a1d;
}
.pie-pagina {
  background-color: #201f24;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 15px;
  color: white;
  margin-bottom: 0;
  height: 50px;
}